<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.examination.mapper.ChoiceMapper">
  <resultMap id="BaseResultMap" type="com.examination.model.Choice">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="choice_title" jdbcType="VARCHAR" property="choiceTitle" />
    <result column="choice_a" jdbcType="VARCHAR" property="choiceA" />
    <result column="choice_b" jdbcType="VARCHAR" property="choiceB" />
    <result column="choice_c" jdbcType="VARCHAR" property="choiceC" />
    <result column="choice_d" jdbcType="VARCHAR" property="choiceD" />
    <result column="choice_e" jdbcType="VARCHAR" property="choiceE" />
    <result column="choice_answer" jdbcType="VARCHAR" property="choiceAnswer" />
    <result column="choice_sort" jdbcType="INTEGER" property="choiceSort" />
    <result column="choice_img_url1" jdbcType="VARCHAR" property="choiceImgUrl1" />
    <result column="choice_img_url2" jdbcType="VARCHAR" property="choiceImgUrl2" />
    <result column="choice_img_url3" jdbcType="VARCHAR" property="choiceImgUrl3" />
    <result column="choice_img_url4" jdbcType="VARCHAR" property="choiceImgUrl4" />
    <result column="examTime" jdbcType="VARCHAR" property="examtime" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
  </resultMap>
  <sql id="Base_Column_List">
    id, choice_title, choice_a, choice_b, choice_c, choice_d,choice_e,choice_answer,
    choice_sort,choice_img_url1,choice_img_url2,choice_img_url3,choice_img_url4,examTime,grade
  </sql>
  <!-- 获取已答内容 -->
  <select id="getDoneAnswer" parameterType="java.lang.String" resultType="com.examination.model.Choice">
    select c.choice_answer,c.choice_a,c.choice_b,c.choice_c,c.choice_d,c.choice_title,c.choice_img_url1,w.answer from bank b
    left join wrongs w on b.id=w.bank_id left join choice c on w.choice_id=c.id
    where w.bank_id = #{bankId} and w.user_id=#{userId}
  </select>
  <select id="selectByDateAndGrade" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from choice
    <if test="examTime != null and grade != null" >
      where examTime = #{examTime} and grade = #{grade}
    </if>
  </select>
  <insert id="insert" parameterType="com.examination.model.Choice">
    insert into choice (id, choice_title, choice_a, 
      choice_b, choice_c, choice_d, 
      choice_e, choice_answer, choice_sort, 
      choice_img_url1, choice_img_url2, choice_img_url3, 
      choice_img_url4, examTime, grade
      )
    values (#{id,jdbcType=VARCHAR}, #{choiceTitle,jdbcType=VARCHAR}, #{choiceA,jdbcType=VARCHAR}, 
      #{choiceB,jdbcType=VARCHAR}, #{choiceC,jdbcType=VARCHAR}, #{choiceD,jdbcType=VARCHAR}, 
      #{choiceE,jdbcType=VARCHAR}, #{choiceAnswer,jdbcType=VARCHAR}, #{choiceSort,jdbcType=INTEGER}, 
      #{choiceImgUrl1,jdbcType=VARCHAR}, #{choiceImgUrl2,jdbcType=VARCHAR}, #{choiceImgUrl3,jdbcType=VARCHAR}, 
      #{choiceImgUrl4,jdbcType=VARCHAR}, #{examtime,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.examination.model.Choice">
    insert into choice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="choiceTitle != null">
        choice_title,
      </if>
      <if test="choiceA != null">
        choice_a,
      </if>
      <if test="choiceB != null">
        choice_b,
      </if>
      <if test="choiceC != null">
        choice_c,
      </if>
      <if test="choiceD != null">
        choice_d,
      </if>
      <if test="choiceE != null">
        choice_e,
      </if>
      <if test="choiceAnswer != null">
        choice_answer,
      </if>
      <if test="choiceSort != null">
        choice_sort,
      </if>
      <if test="choiceImgUrl1 != null">
        choice_img_url1,
      </if>
      <if test="choiceImgUrl2 != null">
        choice_img_url2,
      </if>
      <if test="choiceImgUrl3 != null">
        choice_img_url3,
      </if>
      <if test="choiceImgUrl4 != null">
        choice_img_url4,
      </if>
      <if test="examtime != null">
        examTime,
      </if>
      <if test="grade != null">
        grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="choiceTitle != null">
        #{choiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="choiceA != null">
        #{choiceA,jdbcType=VARCHAR},
      </if>
      <if test="choiceB != null">
        #{choiceB,jdbcType=VARCHAR},
      </if>
      <if test="choiceC != null">
        #{choiceC,jdbcType=VARCHAR},
      </if>
      <if test="choiceD != null">
        #{choiceD,jdbcType=VARCHAR},
      </if>
      <if test="choiceE != null">
        #{choiceE,jdbcType=VARCHAR},
      </if>
      <if test="choiceAnswer != null">
        #{choiceAnswer,jdbcType=VARCHAR},
      </if>
      <if test="choiceSort != null">
        #{choiceSort,jdbcType=INTEGER},
      </if>
      <if test="choiceImgUrl1 != null">
        #{choiceImgUrl1,jdbcType=VARCHAR},
      </if>
      <if test="choiceImgUrl2 != null">
        #{choiceImgUrl2,jdbcType=VARCHAR},
      </if>
      <if test="choiceImgUrl3 != null">
        #{choiceImgUrl3,jdbcType=VARCHAR},
      </if>
      <if test="choiceImgUrl4 != null">
        #{choiceImgUrl4,jdbcType=VARCHAR},
      </if>
      <if test="examtime != null">
        #{examtime,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>